<!DOCTYPE html>
<html lang="en">
{{> head}}
<body style="background-color: #e9e9e9;">
    <!-- navbar -->
    {{> navbar}}
    {{> carousel}}
    <br>
    <div class="container">
        <br>
        <div class="row">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur praesentium molestias totam et neque dolorem recusandae? Optio dolor libero fugit quam voluptate minus, enim qui perspiciatis voluptas maxime beatae error repellat magni porro id, praesentium explicabo, sequi facilis quaerat tenetur? Perferendis unde fuga, nisi aliquid ex libero necessitatibus natus assumenda?</p>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/bebe_sonriendo.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a class='btn btn-dark' href="#">View</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/bebe_sonriendo.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a class='btn btn-dark' href="#">View</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/bebe_sonriendo.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                        <a class='btn btn-dark' href="#">View</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/bebe_sonriendo.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a class='btn btn-dark' href="#">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>