<!-- Footer -->
<footer class="page-footer font-small bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright: Bryan Almeyda
    <a href="https://github.com/bryanalonso1993/thecatalina" target='_blank'>CodePage</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->